<section class="py-5 text-center container">

  <div class="col-lg-6 col-md-8 mx-auto">

    <div [@itemAnim] *ngFor="let note of notes">
      <app-note-card
        [link]="''+note.id"
        (delete)="deleteNote(note.id)"
        [title]="note.title"
        [body]="note.body">>
      </app-note-card>
    </div>

  </div>

  <div class="fixed-bottom" style="margin-bottom: 3vmin">
    <button type="button" style="width: 60vmin" class="btn btn-primary" routerLink="new">Add</button>
  </div>

</section>
