<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">

      <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
      </div>

      <div class="container bootstrap snippets bootdey">
        <div class="row">
          <ul class="notes">
            <li>
              <div class="rotate-1 yellow-bg">
                <h4>Title</h4>
                <p>Main text. Text that contain no info and is fucking shit, at all. But, you know, shit is sometimes a very shit. </p>
                <p class="text-right"> <a href="#" style="color: red;"> <i class="bi bi-trash"></i> </a> </p>
              </div>
            </li>
            <!--
              <div class="rotate-1 lazur-bg">
              <div class="rotate-2 red-bg">
              <div class="rotate-1 yellow-bg">
             -->
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

