<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <form #optionsForm="ngForm" (ngSubmit)="onSubmit(optionsForm)">
        <div class="form-group">
          <p>{{switchText}}</p>
          <label class="switch">
            <input type="checkbox" [checked]="option" (change)="clickSwitch()">
            <span class="slider round"></span>
          </label>
        </div>

        <br>

        <div class="form-group">
          <label>Your name:</label>
          <input type="text" class="form-control" name="user" [ngModel]="user" required placeholder="Enter your name">
        </div>

        <br>

        <button type="submit" style="width: 150px" class="btn btn-primary">Apply</button>
      </form>
    </div>
  </div>
</section>
